html {
    font-family: sans-serif;

    --main-bg: #181618;
    --content-bg: #221f22;
    --text-main: #fff5ff;
    --text-sub: #ccc2cc;
    --accent: #d9458b;
    --accent-b: #ee83b5;
    --header-bg: linear-gradient(333deg, var(--accent) 33%, var(--accent-b) 100%);
}

body {
    background-color: var(--main-bg);
    margin: 0px;
}

a {
    color: var(--accent-b);
    text-decoration-style: dotted;
}

p {
    margin: 0.25em 1em;
    color: var(--text-main);
    text-shadow: black 1px 1px 1px;
}

h1 {
    margin: 0px 0.5em;
    color: var(--text-main);
    text-shadow: black 1px 1px 1px;
}

h3 {
    margin: 0.55em 0.8em;
    color: var(--accent-b);
    text-shadow: black 1px 1px 1px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--text-sub);
}

h3::before {
    content: "➜ ";
    color: var(--text-main);
}

ul {
    padding-left: 0px;
    margin: 0px 2em;
    color: var(--text-main);
}

li {
    padding: 0.15em 0.35em;
}

li::marker {
    color: var(--text-main);
}

.content-body {
    margin: auto;
    background-color: var(--content-bg);
    max-width: 45em;
    box-shadow: black 0px 0px 4px;
}

.content-header {
    padding: 1.2em 0px;
    background:var(--header-bg)
}

.content-main {
    margin: 1.5em 0px;
}

.content-footer {
    padding-bottom: 0.75em;
}

.content-footer>p {
    font-size: 0.85em;
    color: var(--text-sub)
}